$color-princpal: rgba(216, 216, 211, 0.5);
$color-texto: rgb(22, 4, 4);
$color-titulo:rgb(80, 0, 80);
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(https://wallpapercave.com/wp/wp7449646.jpg);
    padding: 0;
    margin: 0;
    width: 100%;
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
}

.grid-layout
{
    display: grid;
    height:  1800px;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 5% 15% 39% 39% 2%;
    grid-template-areas: 'cabecera cabecera' 
                         'nav nav'
                         'lateral contenido1'
                         'contenido2 contenido2'
                         'footer footer';
}
.cabecera{
    background-color:$color-princpal;
    grid-area: cabecera;
    position: sticky;
    top: 0;
}

nav{
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
    padding: 10px 10px 10px 10px;
}
li a{
    background-color: rgba(245, 245, 220, 0);
    color:$color-texto;
    font-size: 30px;
}
a:hover
{
    color: red;
    text-decoration: underline;
}
.nav{
    background-image: url(nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -250px;
    background-attachment: fixed;
    grid-area: nav;
    text-decoration-color: rgba(255, 238, 0, 0.671);
    border-top: 1px solid black;
}
.lat{
    background-color: $color-princpal;
    grid-area: lateral;
    color: var(--texto-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: justify;
}
.main1{
    background-color: $color-princpal;
        grid-area: contenido1;
        border: 1px solid black;
}
.boximg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main2{
    background-color:$color-princpal;
    grid-area:contenido2;
}

.footer{
    background-color: $color-princpal;
    grid-area: footer;
    display: flex;
    border: 1px solid black;
}
.footer svg {
    width: 20px;
    height: 20px;
    margin-left: 2%;
    margin-top: 8px;
    padding:0;
    color:black;
}
.footer p{
    margin-left: 1%;
    margin-top: 8px;
    padding: 0;
    color: black;
}
.footer a{
    margin-left: 2%;
    margin-top: 0%;
    padding:0;
    color: rgb(0, 0, 0);
}
.footer a:hover
{
    color: rgb(0, 0, 0);
    }
h2{
color: $color-titulo;
text-align: center;
text-decoration: underline;
font-size: 30px;
margin: 15px 15px;
}
.card
{
    background-color:$color-princpal;
    width: 250px;
    height: 400px;
    border: 1px solid black;
    margin: 30px 30px;
    padding: 5px;
    box-shadow: 0px 0px 35px black;
    border-radius: 8px;
}
h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
    color: $color-titulo;

}
h4{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
    color:$color-titulo;
}
.imgcnt{
    margin: 25px 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imgcnt1{
    margin: 25px 25px;
    width: 300px;
    height: 300px;
    border-radius: 20%;
}
.card1{
    background-color: $color-princpal;
    width: 350px;
    height: 450px;
    margin: 30px 30px;
    padding: 5px;
    border-radius: 20%;
    box-shadow: 0px 0px 35px black;
}
@media only screen and (max-width: 480px) 
{
  .grid-layout {
    padding: 0%;
    display: grid;
    height: 2400px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 15% 10% 34% 34% 2%;
    grid-template-areas: "cabecera" "nav" "lateral" "contenido1" "contenido2" "footer";
  }
  nav {
    float: left;
    margin-top: 30px;
    margin-left: 60px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    padding: 2px 2px 2px 2px;
    margin: 4px 4px 4px 4px;
    font-size: 17px;
  }
  li a {
    font-size: 25px;
  }
  .c2 {
    background-image: url(nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px -200px;
    background-attachment: fixed;
  }
  .card {
    width: 200px;
    height: 200px;
    margin: 15px 15px;
    padding: 5px;
  }
  .card1 {
    width: 210px;
    height: 210px;
    margin: 10px 10px;
    padding: 5px;
  }
  .imgcnt {
    margin: 2px 30px;
    width: 140px;
    height: 140px;
  }
  .imgcnt1 {
    margin: 2px 25px;
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }
  h2 {
    font-size: 25px;
    margin: 4px 15px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  .footer p{
    font-size: 20px;
  }
}
@media (min-width:481px)and (max-width: 620px)
 {
  .grid-layout {
    padding: 0%;
    display: grid;
    height: 3000px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 15% 10% 34% 34% 2%;
    grid-template-areas: "cabecera" "nav" "lateral" "contenido1" "contenido2" "footer";
  }
  nav {
    float: right;
    margin-top: 35px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    padding: 2px 2px 2px 2px;
    margin: 4px 4px 4px 4px;
    font-size: 20px;
  }
  li a {
    font-size: 28px;
  }
  .c2 {
    background-image: url(nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -400px -300px;
    background-attachment: fixed;
  }
  .card {
    width: 280px;
    height: 280px;
    margin: 15px 15px;
    padding: 5px;
  }
  .card1 {
    width: 280px;
    height: 280px;
    margin: 10px 10px;
    padding: 5px;
  }
  .imgcnt {
    margin: 2px 30px;
    width: 220px;
    height: 220px;
  }
  .imgcnt1 {
    margin: 2px 30px;
    width: 220px;
    height: 220px;
    border-radius: 20%;
  }
  h2 {
    font-size: 25px;
    margin: 4px 15px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  .footer p{
    font-size: 24px;
  }
}
@media (min-width: 621px) and (max-width: 821px) 
{
  .grid-layout {
    display: grid;
    height: 3000px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 15% 39% 39% 2%;
    grid-template-areas: "cabecera cabecera" 
    "nav nav" 
    "lateral contenido1"
     "contenido2 contenido2"
      "footer footer";
  }
  nav {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    font-size: 23px;
  }
  li a {
    font-size: 30px;
  }
  .c2 {
    background-image: url(nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px -200px;
    background-attachment: fixed;
  }
  .card {
    width: 320px;
    height: 320px;
    margin: 25px 25px;
    padding: 5px;
  }
  .card1 {
    width: 320px;
    height: 320px;
    margin: 10px 10px;
    padding: 5px;
  }
  .imgcnt {
    margin: 2px 34px;
    width: 250px;
    height: 250px;
  }
  .imgcnt1 {
    margin: 2px 34px;
    width: 250px;
    height: 250px;
    border-radius: 20%;
  }
  h2 {
    font-size: 30px;
    margin: 4px 15px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  .footer p{
    font-size: 28px;
  }
  .footer svg{
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 822px) and (max-width: 1200px) 
{
  .grid-layout {
    display: grid;
    height: 3000px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 15% 44% 34% 2%;
    grid-template-areas: "cabecera cabecera" 
    "nav nav" 
    "lateral contenido1"
     "contenido2 contenido2"
      "footer footer";
  }
  nav {
    float: left;
    margin-top: 60px;
    margin-left: 250px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    font-size: 23px;
  }
  li a {
    font-size: 32px;
  }
  .c2 {
    background-image: url(nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px -200px;
    background-attachment: fixed;
  }
  .card {
    width: 350px;
    height: 350px;
    margin: 25px 25px;
    padding: 5px;
  }
  .card1 {
    width: 380px;
    height: 380px;
    margin: 10px 10px;
    padding: 5px;
  }
  .imgcnt {
    margin: 2px 28px;
    width: 300px;
    height: 300px;
  }
  .imgcnt1 {
    margin: 2px 30px;
    width: 320px;
    height: 320px;
    border-radius: 20%;
  }
  h2 {
    font-size: 32px;
    margin: 4px 15px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
  }
  .footer p{
    font-size: 28px;
  }
  .footer svg{
    height: 30px;
    width: 30px;
  }
}
  @media (min-width: 1201px) and (max-width: 1259px) 
  {
  .grid-layout {
    display: grid;
    height: 2700px;
    grid-template-columns: 25% 75%;
    grid-template-rows: 5% 15% 39% 39% 2%;
    grid-template-areas: "cabecera cabecera" 
    "nav nav" 
    "lateral contenido1"
     "contenido2 contenido2"
      "footer footer";
  }
  nav {
    float: left;
    margin-top: 60px;
    margin-left: 600px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    font-size: 23px;
  }
  li a {
    font-size: 32px;
  }
  .c2 {
    background-position: -200px -200px;

  }
  .card {
    width: 400px;
    height: 400px;
    margin: 10px 10px;
    padding: 5px;
  }
  .card1 {
    width: 420px;
    height: 420px;
    margin: 10px 10px;
    padding: 5px;
  }
  .imgcnt {
    margin: 2px 32px;
    width: 340px;
    height: 340px;
  }
  .imgcnt1 {
    margin: 2px 35px;
    width: 350px;
    height: 350px;
    border-radius: 20%;
  }
  h2 {
    font-size: 34px;
    margin: 4px 15px;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 26px;
  }
  h4 {
    margin-top: 10px;
    font-size: 24px;
  }
  .footer p{
    font-size: 28px;
  }
  .footer svg{
    height: 30px;
    width: 30px;
  }
}